body {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
button {
    background-color: #a4a9f5;
    border-radius: 10px;
    color: rgb(22, 21, 21);
    cursor: pointer;
    margin: 10px;
    min-width: 90px;
    min-height: 30px;
}
.link-back{
    display: flex;
    margin: 10px;
    justify-content: right;
}
button:hover {
    background-color: #c560f3;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}