body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
}

.lista-clientes, .formulario-clientes {
    width: 45%;
}

.link-back{
    display: flex;
    margin: 10px;
    justify-content: right;
}

.lista-clientes input, .formulario-clientes input {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
button {
    background-color: #a4a9f5;
    border-radius: 10px;
    color: rgb(22, 21, 21);
    cursor: pointer;
    margin: 10px;
    min-width: 90px;
    min-height: 30px;
}
button:hover {
    background-color: #c560f3;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}