h1 {
    text-align: center;
    margin-top: 20px;
}


.lista-clientes, .formulario-clientes {
    width: 45%;
}

.link-back{
    display: flex;
    margin: 10px;
    justify-content: right;
}

.lista-clientes input, .formulario-clientes input {
    display: block;
    width: 90%;
    margin: 5px auto;
    padding: 5px;
}

form label {
    display: block;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}