h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lista li{
    margin: 0 10px;
}
.lista a{
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.2s;
}