body {
    font-family: Arial, sans-serif;
    background-color: #F8F8FF; /* GhostWhite */
    color: #333333; /* Gris Oscuro */
    margin: 0;
    padding: 0;
}
button {
    background-color: #FFB6C1; /* LightPink */
    color: #333333; /* Gris Oscuro */
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    min-width: 90px;
    min-height: 30px;
}
button:disabled {
    background-color: #FFD1DC;  /* BabyPink */
    color: #333333; /* Gris Oscuro */
}
button:hover {
    background-color: #F08080; /* LightCoral */
    transform: scale(1.05); /* Agranda ligeramente la opción */
    border-color: #DDA0DD; /* Cambia el borde a Plum */
    box-shadow: 0 0 10px rgba(221, 160, 221, 0.5); /* Añade sombra con color Plum */
    color: #F8F8FF; /* GhostWhite */
}
nav {
    display: flex; /* Para usar flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 10px 20px; /* Espaciado dentro del nav */
}

ul {
    display: flex; /* Hace que las opciones estén alineadas en línea */
    list-style: none; /* Elimina los puntos de la lista */
    text-align: center;
    background-color: #FFD1DC; /* BabyPink */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margen predeterminado */
}

ul li {
    margin: 0 15px; /* Espaciado entre las opciones */
    padding: 10px 15px; /* Espaciado interno de cada opción */
    border: 2px solid transparent; /* Bordes transparentes por defecto */
    border-radius: 8px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transiciones suaves */
}

ul li:hover {
    transform: scale(1.05); /* Agranda ligeramente la opción */
    border-color: #F08080; /* Cambia el borde a LightCoral al pasar el cursor */
    box-shadow: 0 0 10px rgba(240, 128, 128, 0.5); /* Añade sombra con color LightCoral */
    cursor: pointer; /* Cambia el cursor a una mano */
    background-color: #FFB6C1; /* LightPink */
}

a {
    text-decoration: none; /* Quita el subrayado de los enlaces */
    color: #333333; /* Gris Oscuro */
    font-family: Arial, sans-serif; /* Usa la fuente Roboto */
    font-size: 16px; /* Tamaño del texto */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #FFD1DC; /* BabyPink */
    border: 1px solid #FFD1DC; /* BabyPink */
}

tr:hover {
    transform: scale(1.05); /* Agranda ligeramente la opción */
    border-color: #FFB6C1; /* Cambia el borde a LightPink al pasar el cursor */
    box-shadow: 0 0 10px rgba(255, 182, 193, 0.5); /* Añade sombra con color LightPink */
    cursor: pointer; /* Cambia el cursor a una mano */
    background-color: #FFD1DC; /* BabyPink */
}
input, textarea {
    color: #333333; /* Color del texto */
    background-color: #F8F8FF; /* Color de fondo GhostWhite */
    border-color: #FFB6C1; /* Color del borde LightPink */
    text-align: center; /* Texto centrado */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    border: 2px solid #FFB6C1; /* Borde inicial LightPink */
    outline: none; /* Elimina el contorno azul predeterminado */
    transition: all 0.3s ease; /* Suaviza las transiciones */
}

input:focus, textarea:focus {
    background-color: #F08080; /* Cambia el fondo al estar seleccionado LightCoral */
    border-color: #DDA0DD; /* Cambia el color del borde Plum */
    color: #F8F8FF; /* Asegura que el texto siga siendo GhostWhite */
    box-shadow: 0 0 10px rgba(221, 160, 221, 0.5); /* Añade un efecto de brillo Plum */
    transform: scale(1.02); /* Agranda ligeramente el input */
}
input:-webkit-autofill, textarea:-webkit-autofill {
    background-color: #FFB6C1 !important; /* Color de fondo del autocompletado LightPink */
    color: #333333 !important; /* Color del texto autocompletado Gris Oscuro */
    border-color: #FFB6C1 !important; /* Color del borde del autocompletado LightPink */
    box-shadow: 0 0 0px 1000px #FFB6C1 inset !important; /* Elimina el fondo blanco del autocompletado */
    transition: background-color 5000s ease-in-out 0s; /* Previene el cambio de fondo */
}
input:-webkit-autofill::first-line, textarea:-webkit-autofill::first-line{
    color: #333333 !important; /* Asegura que la primera línea del texto sea Gris Oscuro */
}
select {
    min-height: 30px;
    color: #333333;
    background-color: #FFB6C1;
    border-color: #DDA0DD; /* Cambia el borde a Plum */
}