body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /* Blanco */
    color: #37474F; /* Gris Azulado Oscuro */
    margin: 0;
    padding: 0;
}

button {
    background-color: #E91E63; /* Rosa Fuerte */
    color: #FFFFFF; /* Blanco */
    cursor: pointer;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    min-width: 90px;
    min-height: 30px;
    border: none; /* Elimina el borde por defecto */
    transition: all 0.3s ease;
}

button:disabled {
    background-color: rgba(233, 30, 99, 0.5); /* Rosa Fuerte con transparencia */
    color: #FFFFFF;
}

button:hover {
    background-color: #FFD47E; /* Amarillo Mostaza Suave */
    color: #37474F; /* Gris Azulado Oscuro */
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(55, 71, 79, 0.3); /* Sombra sutil */
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

ul {
    display: flex;
    list-style: none;
    text-align: center;
    background-color: #FCE4EC; /* Rosa Pastel */
    padding: 0;
    margin: 0;
    border-radius: 8px; /* Bordes redondeados al contenedor */
}

ul li {
    margin: 0 15px;
    padding: 10px 15px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: all 0.3s ease;
}

ul li:hover {
    transform: scale(1.05);
    border-color: #E91E63; /* Rosa Fuerte */
    box-shadow: 0 0 10px rgba(233, 30, 99, 0.3);
    cursor: pointer;
    background-color: #FFFFFF; /* Blanco */
}

a {
    text-decoration: none;
    color: #37474F; /* Gris Azulado Oscuro */
    font-family: Arial, sans-serif;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #FCE4EC; /* Rosa Pastel */
    border: 1px solid #FCE4EC; /* Rosa Pastel */
}

tr:hover {
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(233, 30, 99, 0.2); /* Sombra sutil al pasar el ratón */
    cursor: pointer;
    background-color: #FCE4EC;
}

input, textarea {
    color: #37474F; /* Gris Azulado Oscuro */
    background-color: #FFFFFF; /* Blanco */
    border-color: #E91E63; /* Rosa Fuerte */
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #E91E63;
    outline: none;
    transition: all 0.3s ease;
}

input:focus, textarea:focus {
    background-color: #FFD47E; /* Amarillo Mostaza Suave */
    border-color: #37474F; /* Gris Azulado Oscuro */
    color: #37474F; /* Gris Azulado Oscuro */
    box-shadow: 0 0 10px rgba(55, 71, 79, 0.3);
    transform: scale(1.02);
}
input:-webkit-autofill, textarea:-webkit-autofill {
    background-color: #FCE4EC !important; /* Rosa Pastel */
    color: #37474F !important; /* Gris Azulado Oscuro */
    border-color: #FCE4EC !important; /* Rosa Pastel */
    box-shadow: 0 0 0px 1000px #FCE4EC inset !important;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill::first-line, textarea:-webkit-autofill::first-line{
    color: #37474F !important;
}
select {
    min-height: 30px;
    color: #37474F; /* Gris Azulado Oscuro */
    background-color: #FCE4EC; /* Rosa Pastel */
    border-color: #37474F;
    border-radius: 10px; /* Bordes redondeados */
}