body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

section {
    margin-bottom: 2em;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 0.5em 0;
    padding: 0.5em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
}

li:hover {
    background-color: #f0f0f0;
}

form {
    display: flex;
    min-width: 1000px;
    min-height: 40px;
    gap: 10px;
    align-items: center;    
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #a4a9f5;
    color: rgb(22, 21, 21);
    cursor: pointer;
}

button:hover {
    background-color: #c560f3;
}