h1 {
    text-align: center;
    margin-top: 20px;
}

.listado, .formulario {
    width: 50%;
    padding: 20px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la pantalla (opcional) */
    padding: 20px; /* Espaciado interno (opcional) */
}

.listado input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

#productosList{
    display: flex;
    flex-direction: column; 
}

form label {
    display: block;
    margin-top: 10px;
}

form input, form button {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
}