h2{
  margin: 10px;
}
h3, #filtro_nombre{
    display: flex;
    margin: 10px;
    justify-content: left;
}
.botones_proveedor{
    display: flex;
    gap: 10px;
    justify-content: left;
}
#form_proveedor{
    display: flex;
    gap: 10px;
    justify-content: left;
    margin: 10px;
}
#form_proveedor input{
    font-size: large;
}

