.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.search-section{
    max-width: 200px;
}
#almacenamiento-lista {
    display: flex;
    flex-direction: column;
    overflow:hidden;
    overflow-y: auto; /* Permite el desplazamiento vertical */
}
.encabezado{
    display: flex;
    max-width: 190px;
    align-items: center;
    gap: 10px;
}
.producto-formulario, .datos-venta{
    display: flex;
    min-width: 1000px;
    min-height: 40px;
    gap: 10px;
    align-items: center;    
}
.venta-btn{
    display:flex;
    align-items: center;
    margin-top: 80px;
    gap: 50px;
}
#validar-referencia-btn{
    max-width: 80px;
    max-height: 40px;
}

#observaciones{
    display: flex;
    min-width: 500px;
    min-height: 50px;
}

.search-section, .form-section, .history-section {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 30%;
}

.search-section h2, .form-section h2, .history-section h2 {
    margin-bottom: 10px;
}

.search-box {
    margin-bottom: 15px;
}

.search-box input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.search-box ul {
    list-style: none;
    padding: 0;
    max-height: 100px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box li {
    padding: 8px;
    cursor: pointer;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}
