<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almacen</title>
    <script src="{{ url_for('static', filename='almacenamiento.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='almacenamiento.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <a href="/" style="position: absolute; top: 10px; right: 20px;">Volver a la página principal</a>
    <div id="lista-almacenamiento">
        <h3>Almacenamiento</h3>
        <div id="item-count">
           
        </div>
        <div class="table-container">
            <div class="filtros">
                <select id="filtro-bodega">
                    <option value="">Todas las Bodegas</option>
                </select>
            </div>
            <div class="column-filters">
                 <input type="text" data-column="referencia"  placeholder="Filtrar por Referencia">
                 <input type="text" data-column="nombre" placeholder="Filtrar por Producto">
                 <input type="text" data-column="tipo" placeholder="Filtrar por Tipo">
                 <input type="text" data-column="cantidad" placeholder="Filtrar por Existencia">
                 <input type="text" data-column="precio_compra" placeholder="Filtrar por Precio Compra">
                 <input type="text" data-column="precio_venta" placeholder="Filtrar por Precio Venta">
             </div>
            <table class="almacen-table">
                <thead>
                    <tr>
                        <th data-column="bodega">Bodega</th>
                        <th data-column="referencia">Referencia</th>
                        <th data-column="nombre">Producto</th>
                        <th data-column="tipo">Tipo</th>
                        <th data-column="cantidad">Existencia</th>
                        <th data-column="precio_compra">Precio de compra</th>
                        <th data-column="precio_venta">Precio de venta</th>
                    </tr>
                </thead>
                <tbody id="tabla-almacenamiento">
                    <!-- Las filas se llenarán dinámicamente -->
                </tbody>
            </table>
        </div>
        
    </div>
    
</body>
</html>