<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='clientes.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='clientes.js') }}" defer></script>
</head>
<body>
    <a href="/" style="position: absolute; top: 10px; right: 20px;">Volver a la página principal</a>
    <div class="container">
        <!-- Sección de lista -->
        <div class="lista-clientes card">
            <h2>Lista de Clientes</h2>
             <div class="table-container">
                 <div class="column-filters">
                        <input type="text" data-column="nombre" placeholder="Filtrar por Nombre">
                        <input type="text" data-column="correo" placeholder="Filtrar por Correo">
                        <input type="text" data-column="telefono" placeholder="Filtrar por Teléfono">
                  </div>
                    <table class="cliente-table">
                        <thead>
                        <tr>
                            <th data-column="nombre">Nombre</th>
                            <th data-column="correo">Correo</th>
                            <th data-column="telefono">Teléfono</th>
                        </tr>
                        </thead>
                        <tbody id="clientes-lista">
                        <!-- Las filas se llenarán dinámicamente -->
                        </tbody>
                    </table>
             </div>
             <div id="item-count"></div>
         </div>

        <!-- Sección de formulario -->
        <div class="formulario-clientes card">
            <h2>Detalles del Cliente</h2>
            <div class="botones">
                <button id="btn-crear">Crear</button>
                <button id="btn-actualizar" disabled>Actualizar</button>
                <button id="btn-eliminar" disabled>Eliminar</button>
            </div>
            <form id="form-cliente">
                 <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                 <div class="form-group">
                    <label for="correo">Correo:</label>
                     <input type="email" id="correo" name="correo" required>
                 </div>
                <div class="form-group">
                     <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" name="telefono" required>
                </div>
            </form>
             <div class="botnes_crear">
                <button id="btn-guardar" disabled>Guardar</button>
             </div>
         </div>
    </div>
</body>
</html>