<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='empleados.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='empleados.js') }}" defer></script>
</head>
<body>
     <a href="/" style="position: absolute; top: 10px; right: 20px;">Volver a la página principal</a>
    <div class="container">
       <!-- seccion de formulario-->
        <div class="formulario-empleados card">
            <h2>Detalles del Empleado</h2>
            <div class="botones-empleados">
                <button id="crear-empleado">Crear</button>
                <button id="actualizar-empleado" disabled>Actualizar</button>
                <button id="eliminar-empleado" disabled>Eliminar</button>
            </div>
            <form id="formulario-empleado">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" required>
                </div>
                <div class="form-group">
                    <label for="cargo">Cargo:</label>
                    <input type="text" id="cargo" name="cargo" required>
                </div>
                 <div class="form-group">
                    <label for="salario">Salario:</label>
                    <input type="number" id="salario" name="salario" required value="0">
                </div>
            </form>
             <div class="botones-empleados">
                 <button id="guardar-empleado" disabled>Guardar</button>
             </div>
        </div>
        <div id="lista-empleados" class="card">
            <h2>Lista de Empleados</h2>
            <div class="table-container">
                 <div class="column-filters">
                     <input type="text" data-column="nombre" placeholder="Filtrar por Nombre">
                    <input type="text" data-column="cargo" placeholder="Filtrar por Cargo">
                    <input type="text" data-column="salario" placeholder="Filtrar por Salario">
                  </div>
                <table class="empleado-table">
                    <thead>
                        <tr>
                           <th data-column="nombre">Nombre</th>
                           <th data-column="cargo">Cargo</th>
                            <th data-column="salario">Salario</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-empleados">
                        <!-- Las filas se llenarán dinámicamente -->
                    </tbody>
                </table>
            </div>
            <div id="item-count"></div>
        </div>
    </div>
</body>
</html>