<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Tienda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Bienvenido al sistema de gestión de la tienda</h1>
    <nav>
        <ul>
            <li><a href="/proveedores">Proveedores</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/empleados">Empleados</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/bodegas">Bodegas</a></li>
        </ul>
    </nav>
</body>
</html>
