<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de ventas</title>
    <link rel="stylesheet" href="{{url_for('static', filename='ventas.css')}}">
    <script src="{{url_for('static', filename='ventas.js')}}"></script>
</head>
<body>
    <div class="container">
        <div class="search-section">
            <!-- Bloque 1: Busquedad de productos en almacenamiento-->
            <h2>Buscar productos</h2>
            <div class="search-box">
                <label for="producto-busqueda">Producto</label>
                <input type="text" id="almacenamiento-busqueda" placeholder="Buscar Producto...">
                <ul id="almacenamiento-lista"></ul>
            </div>
        </div>
        <div class="form-section">
            <!-- Bloque 2: Formulario para venta-->
            <h2>Nuevo Registro</h2>
            <form id="registro-form">
                <div class="encabezado">
                    <label for="fecha">Fecha:</label>
                    <input type="datetime-local" id="fecha" name="fecha" required disabled>

                    <label for="empleado">Empleado:</label>
                    <select id="empleado" name="empleado" class="select-busqueda" required>
                        <option value="">Seleccione un empleado...</option>
                    </select>

                    <label for="proveedor">Proveedor:</label>
                    <select id="proveedor" name="proveedor" class="select-busqueda">
                        <option value="">Seleccione un proveedor...</option>
                    </select>

                    <label for="cliente">Cliente:</label>
                    <select id="cliente" name="cliente" class="select-busqueda">
                        <option value="">Seleccione un cliente...</option>
                    </select>

                    <label for="movimiento">Movimiento:</label>
                    <select id="movimiento" name="movimiento" required>
                        <option value="Salida">Salida</option>
                    </select>
                </div>
                <div class="producto-formulario">
                    <label for="referencia">Referencia:</label>
                    <input type="text" id="referencia" name="referencia" required disabled>
                    
                    <label for="nombre">Producto:</label>
                    <input type="text" id="nombre" name="nombre" required disabled>

                    <label for="tipo">Tipo:</label>
                    <input type="text" id="tipo" name="tipo" required disabled>

                    <label for="bodega">Bodega:</label>
                    <input type="text" id="bodega" name="bodega" required disabled>
                    
                    <label for="cantidad">Cant. Disponible:</label>
                    <input type="number" id="cantidad-disponible" name="cantidad" required min="1" disabled>
                </div>
                <div class="datos-venta">
                    <label for="cantidad">Cant. Venta:</label>
                    <input type="number" id="cantidad" name="cantidad" required min="1">

                    <label for="precio-compra">Pre. Compra:</label>
                    <input type="number" id="precio-compra" name="precio-compra" step="0.01" required min="0" disabled>

                    <label for="precio-venta">Pre. Venta:</label>
                    <input type="number" id="precio-venta" name="precio-venta" step="0.01" required min="0">

                    <label for="ganancia">id :</label>
                    <input type="number" id="ganancia" name="ganancia" step="0.01" required min="0" value="0" disabled>
                </div>
                
                <label for="observaciones">Observaciones:</label>
                <textarea id="observaciones" name="observaciones"></textarea>

                <button type="submit" id="agregar-registro-btn">Agregar</button>
            </form>
        </div>
        <!-- Bloque 3: Registros agregados-->
        <div class="registros-section">
            <h2>Registros</h2>
            <table>
                <thead>
                    <tr hidden>
                        <th><input type="text" id="filtro-fecha" placeholder="Fecha"></th>
                        <th><input type="text" id="filtro-empleado" placeholder="Empleado"></th>
                        <th><input type="text" id="filtro-proveedor" placeholder="Proveedor"></th>
                        <th><input type="text" id="filtro-cliente" placeholder="Cliente"></th>
                        <th>
                            <select id="filtro-movimiento">
                                <option value="">Movimiento</option>
                                <option value="Entrada">Entrada</option>
                                <option value="Salida">Salida</option>
                            </select>
                        </th>
                        <th><input type="text" id="filtro-referencia" placeholder="Referencia"></th>
                        <th><input type="text" id="filtro-nombre" placeholder="Nombre"></th>
                        <th><input type="text" id="filtro-tipo" placeholder="Tipo"></th>
                        <th><input type="text" id="filtro-bodega" placeholder="Bodega"></th>
                        <th><input type="text" id="filtro-cantidad" placeholder="Cantidad"></th>
                        <th><input type="text" id="filtro-compra" placeholder="precio compra"></th>
                        <th><input type="text" id="filtro-venta" placeholder="precio venta"></th>
                        <th><input type="text" id="filtro-ganancia" placeholder="id almacenamiento"></th>
                        <th><input type="text" id="filtro-observaciones" placeholder="Observaciones"></th>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <th>Empleado</th>
                        <th>Proveedor</th>
                        <th>Cliente</th>
                        <th>Movimiento</th>
                        <th>Referencia</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Bodega</th>
                        <th>Cantidad</th>
                        <th>Precio Compra</th>
                        <th>Precio Venta</th>
                        <th>ID alamacenamiento</th>
                        <th>Observaciones</th>
                    </tr>        
                </thead>
                <tbody id="registro-lista">
                    <!-- Filas generadas dinámicamente -->
                </tbody>
            </table>

            <div class="venta-btn">
                <button type="guardar" id="guardar-registros-btn" disabled>Realizar venta</button>
                <button type="cotizar" id="cotizar-registros-btn" disabled>Cotización</button>
                <button type="eliminar" id="eliminar-registro-btn" disabled>Eliminar</button>
                <button type="cancelar" id="cancelar-registros-btn" disabled>Cancelar</button>
            </div>
        </div>
    </div>
    <a href="/" style="position: absolute; top: 10px; right: 20px;">Volver a la página principal</a>
</body>
</html>